/* ----- GLOBAL ----- */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, white 30%, #add8e6 100%);
}

/* ----- NAVBAR ----- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.nav-left img {
  width: 200px;
}

/* Links */
.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  cursor: pointer;
  transition: 0.2s;
}

.nav-links li:hover {
  color: #1552bc;
}

/* Button */
.nav-btn {
  padding: 10px 19px;
  background: #1451b9;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.nav-btn:hover {
  background: #0d3a8a;
}

/* ----- HERO SECTION ----- */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
  gap: 40px;
}

/* Left side */
.hero-text {
  max-width: 600px;
}

.create-btn {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background: #ebf2ff;
  cursor: pointer;
}

.hero h1 {
  font-size: 50px;
  margin: 20px 0;
}

.welcome {
  color: #1552bc;
}

.hero p {
  font-size: 20px;
  line-height: 1.6;
}

.education {
  margin-top: 20px;
  padding: 12px 25px;
  background: #234a8d;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.education:hover {
  background: #1a3971;
}

/* Right side */
.hero-img img {
  width: 400px;
  border-radius: 300px;
  object-fit: cover;
}
