/* ----- GLOBAL ----- */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, white 30%, #add8e6 100%);
}

/* ----- NAVBAR ----- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.nav-left img {
  width: 200px;
}

/* Links */
.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  cursor: pointer;
  transition: 0.2s;
}

.nav-links li:hover {
  color: #1552bc;
}

/* Button */
.nav-btn {
  padding: 10px 19px;
  background: #1451b9;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.nav-btn:hover {
  background: #0d3a8a;
}

/* ----- HERO SECTION ----- */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
  gap: 40px;
}

/* Left side */
.hero-text {
  max-width: 600px;
}

.create-btn {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background: #ebf2ff;
  cursor: pointer;
}

.hero h1 {
  font-size: 50px;
  margin: 20px 0;
}

.welcome {
  color: #1552bc;
}

.hero p {
  font-size: 20px;
  line-height: 1.6;
}

.education {
  margin-top: 20px;
  padding: 12px 25px;
  background: #234a8d;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.education:hover {
  background: #1a3971;
}

/* Right side */
.hero-img img {
  width: 400px;
  border-radius: 300px;
  object-fit: cover;
}

/* --------------------------------- Courses Section ------------------------------- */

.courses {
  text-align: center;
  padding: 60px 40px;
}

.courses-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.courses-subtitle {
  max-width: 800px;
  margin: 0 auto 40px auto;
  color: #555;
  font-size: 16px;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.course-card {
  position: relative;
  padding: 25px;
  border-radius: 18px;
  min-height: 230px;
  overflow: hidden;
  text-align: left;
}

.course-card h3 {
  margin-bottom: 8px;
}

.course-text {
  font-size: 15px;
  margin-bottom: 12px;
}

.course-info {
  font-size: 14px;
  margin-bottom: 15px;
  color: #333;
}

.course-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tag {
  padding: 5px 10px;
  font-size: 12px;
  background: white;
  border-radius: 10px;
}

/* ----------------------------------------------------------------------- */

